<div *ngIf="employee">
  <div class="row">
    <div class="col-8 col-sm-3 short-employee-image offset-sm-3 mx-auto mr-sm-0">
      <div class="employee-image text-center">
        <img class="img-fluid rounded-circle" src="{{employee.image}}"
             (error)="employee.image = '../../../assets/avatar.png'" alt="Employee Image" />
      </div>
    </div>
    <div class="col-10 col-sm-6 align-self-center mx-auto mx-sm-0">
      <div class="employee-info">
        <p class="mb-1"><a routerLink="employee/{{employee.id}}">{{employee.fullName}}</a></p>
        <p class="mb-1">{{employee.position}}</p>
<!--        <p class="mb-1">{{employee.skills}}</p>-->
        <span class="text-center text-sm-left">
        <star-rating
                value="{{employee.rating}}"
                totalstars="5"
                checkedcolor="grey"
                uncheckedcolor="white"
                size="24px"
                readonly="false" (rate)="onRate($event)"></star-rating>
        </span>
      </div>
    </div>
  </div>
</div>
