.employee-info {
  p {
    font-size: 2.2rem;
    a {
      color: #fff;
      &:hover {
        color: #000;
      }
    }
  }
}

/*style for lg Screen*/
@media (min-width: 992px) and (max-width: 1199px) {
  .employee-info {
    p {
      font-size: 1.9rem;
    }
  }
}

/*style for md Screen*/
@media (min-width: 768px) and (max-width: 991px) {
  .employee-info {
    p {
      font-size: 1.4rem;
    }
  }
}

/*style for sm Screen*/
@media (min-width: 576px) and (max-width: 767px) {
  .employee-info {
    p {
      font-size: 1.1rem;
    }
  }
}

/*style for xs Screen*/
@media (max-width: 575px) {
  .employee-info {
    p {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

/*style for small than xs Screen*/
@media (max-width: 499px) {}
