<!-- <app-employee-list></app-employee-list> -->

<app-employee-details></app-employee-details>

<!-- <app-employee-list></app-employee-list> -->

<!--<app-customer-list></app-customer-list>-->

<!--Start About Us Section-->
<!--<div class="about-us py-5">-->
<!--  <div class="container">-->
<!--    <h3 class="text-center">About Us</h3>-->
<!--    <span class="offset-sm-2 pl-3">YES GO</span>-->
<!--    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"-->
<!--                  [animation]="'slide'">-->
<!--        <mdb-carousel-item *ngFor="let item of slides; let i = index">-->
<!--            <div class="col-12 col-sm-10 col-md-8 mx-auto" style="min-height: 120px">-->
<!--                <p>{{item[0].description}}</p>-->
<!--            </div>-->
<!--        </mdb-carousel-item>-->
<!--    </mdb-carousel>-->
<!--  </div>-->
<!--</div>-->
<!--End About Us Section-->

<!--Start Our Price Section-->
<!--<div class="our-price py-5">-->
<!--    <div class="container">-->
<!--        <div class="col-12 col-sm-10 mx-auto">-->
<!--            <h3>Our Price</h3>-->
<!--            <p>-->
<!--              Please find below the prices for services we introduce.<br/>-->
<!--              <strong>{{50 | currency: 'EUR'}}</strong> per hour<br />-->
<!--              <strong>{{200 | currency: 'EUR'}}</strong> per day<br />-->
<!--              <strong>{{900 | currency: 'EUR'}}</strong> per week<br />-->
<!--              <strong>{{2000 | currency: 'EUR'}}</strong> per month<br />-->
<!--              When dealing for a month and you don’t get your needs in two weeks, you can refund what you paid without any extra fees.-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--End Our Price Section-->


