<!--<div class="">-->
  <app-employee-list></app-employee-list>
<!--</div>-->
<!--<div class="">-->
  <app-customer-list></app-customer-list>
<!--</div>-->


<!--Start About Us Section-->
<div class="about-us text-white position-relative py-5">
  <img class="bg-responsive-image" src="../../../assets/about-us-background.png" alt="about us background" />
  <div class="container">
    <h2 class="text-center">About Us</h2>
    <span class="offset-sm-2 pl-3">YES GO</span>
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                  [animation]="'slide'">
        <mdb-carousel-item *ngFor="let item of slides; let i = index">
            <div class="col-12 col-sm-10 col-md-8 mx-auto" style="min-height: 120px">
                <p>{{item[0].description}}</p>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>
<!--End About Us Section-->

<!--Start Our Price Section-->
<div class="our-price text-white pb-5">
    <div class="container">
        <div class="col-12 col-sm-10 mx-auto">
            <h3 class="text-center mb-5">Our Price</h3>
            <p>
              Please find below the prices for services we introduce.<br/>
              <strong>{{50 | currency: 'EUR'}}</strong> per hour<br />
              <strong>{{200 | currency: 'EUR'}}</strong> per day<br />
              <strong>{{900 | currency: 'EUR'}}</strong> per week<br />
              <strong>{{2000 | currency: 'EUR'}}</strong> per month<br />
              When dealing for a month and you don’t get your needs in two weeks, you can refund what you paid without any extra fees.
            </p>
        </div>
    </div>
</div>
<!--End Our Price Section-->

<!--Start Our Vision Section-->
    <div class="yes-go-vision py-5">
        <div class="container">
          <h2 class="text-center mb-3 mb-sm-5">Yes Go Vision</h2>
          <div class="row">
            <div class="col-12 col-sm-4 align-self-center text-center text-sm-left mb-5 mb-sm-0">
              <img src="../../../assets/yesgo-vision-logo.png" class="img-fluid" alt="" />
            </div>
            <div class="col-12 col-sm-8 align-self-center">
              <div class="vision-about-slider">
                  <i class="fas fa-quote-left fa-sm-md fa-md-lg text-muted pl-3"></i>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta doloremque earum,
                    eius est excepturi fugit in laboriosam magnam nobis odit officia qui quidem saepe sint sit temporibus totam voluptatum!
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--End Our Vision Section-->
