@import "~src/variables";

.about-us {
  background: url('../../../assets/about-us-background.png') no-repeat;
  background-size: cover;
  min-height: 450px;
  h2 {
    margin-bottom: 10%
  }
  span {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.8rem;
  }
}

.our-price {
  background-color: $dark-blue;
  p {
    font-size: 1.6rem;
    strong {
      color: #3399ff;}
  }
}

.yes-go-vision {
  background: url('../../../assets/yesgo-vision-background.png') no-repeat;
  background-size: cover;
  min-height: 300px;
}

/*style for lg Screen*/
@media (min-width: 992px) and (max-width: 1199px) {
  .our-price {
    p {
      font-size: 1.4rem;
    }
  }
}

/*style for md Screen*/
@media (min-width: 768px) and (max-width: 991px) {
  .about-us {
    p {
      font-size: 1.7rem;
    }
  }

  .our-price {
    p {
      font-size: 1.3rem;
    }
  }
}

/*style for sm Screen*/
@media (min-width: 576px) and (max-width: 767px) {
  .about-us {
    p {
      font-size: 1.6rem;
    }
  }

  .our-price {
    p {
      font-size: 1.2rem;
    }
  }
}

/*style for xs Screen*/
@media (max-width: 575px) {
  .about-us {
    p {
      font-size: 1.7rem;
    }
  }

  .our-price {
    p {
      font-size: 1.2rem;
    }
  }
}

/*style for small than xs Screen*/
@media (max-width: 499px) {
  .about-us {
    p {
      font-size: 1.5rem;
    }
  }
}
