<!--Start Our Customers Section-->
<div class="our-customer py-5" *ngIf="customersList != null">
    <div *ngIf="customersList.length != 0">
      <div class="container">
        <h3 class="text-center mb-4">Our Customer</h3>
        <div class="row" *ngIf="customersList?.length < (onResize() + 1)">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto" *ngFor="let customerInfo of customersList">
            <div class="customer-say">
              <div class="row">
                <div class="col-2 col-sm-3 pr-0">
                  <div class="employee-image">
                    <img class="img-fluid" src="{{customerInfo.image}}"
                         (error)="customerInfo.image = '../../../assets/grey_avatar.png'" alt="Employee Image" />
                  </div>
  <!--                <i class="fas fa-check-circle fa-2x text-secondary"></i>-->
                </div>
                <div class="col-10 col-sm-9">
                  <h6>{{customerInfo.clientName}}</h6>
                  <p>
                    {{customerInfo.commentAboutYesGo}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="customersList?.length > onResize()">
          <mdb-carousel [isControls]="true" class="w-100 carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                        [animation]="'slide'">
            <mdb-carousel-item *ngFor="let customer of customers; let i = index">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto" *ngFor="let customerInfo of customer">
                <div class="customer-say">
                  <div class="row">
                    <div class="col-2 col-sm-3 pr-0">
                      <div class="employee-image">
                        <img class="img-fluid" src="{{customerInfo.image}}"
                             (error)="customerInfo.image = '../../../assets/grey_avatar.png'" alt="Employee Image" />
                      </div>
    <!--                    <i class="fas fa-check-circle fa-2x text-secondary"></i>-->
                    </div>
                    <div class="col-10 col-sm-9">
                      <h6>{{customerInfo.clientName}}</h6>
                      <p>
                        {{customerInfo.commentAboutYesGo}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
  
        </div>
      </div>
    </div>
    <div class="" *ngIf="customersList.length == 0">
      <h4 class="text-center">Loading...</h4>
    </div>
  </div>
  <!--End Our Customers Section-->
  