<footer class="py-4 text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-5 offset-md-1 align-self-center text-center text-md-left">
          <div class="footer-left">
            <img src="../../../../assets/logo.svg" class="footer-logo" alt="logo image" />
            <p class="lead mt-3">
              <a href="#">About Us</a>
              <a href="#" class="ml-3">Safe Payment</a>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-md-7 col-lg-6 border-sm-0 border-left border-secondary text-center text-md-left">
          <div class="footer-right offset-md-1">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="footer-contact">
                  <h6 class="mb-2">CONTACT US</h6>
                  <div>
                    <span>Phone</span>
                    <p class="mt-2">
                      <i class="fas fa-phone-alt"></i>
                      +491633733146
                    </p>
                  </div>
                </div>
                <div class="footer-social py-4">
                  <h6 class="mb-2">SOCIAL</h6>
                  <ul class="list-unstyled mb-0">
                    <li><a href="https://www.facebook.com/Yes-soft-328738448051690"><i class="fab fa-facebook fa-fw fa-2x"></i></a></li>
                    <li><a alt="whatsapp" href="https://api.whatsapp.com/send?phone=96171575052"><i class="fab fa-whatsapp fa-fw fa-2x"></i></a></li>
                    <li><a href="https://www.twitter.com/yessoft0"><i class="fab fa-twitter fa-fw fa-2x"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/yes-soft"><i class="fab fa-linkedin fa-fw fa-2x"></i></a></li>
                  </ul>
                </div>
                <div class="footer-location">
                  <h6 class="mb-2">LOCATION</h6>
                  <p class="mt-2">Deutschland - Berlin 10827</p>
                </div>
              </div>
              <div class="col-12 col-md-6 align-self-center">
                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 300px">
                  <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                          style="border:0" allowfullscreen></iframe>
                </div>
  
                <!--Google Maps-->
                <!--Google map-->
                <!--                            <img src="../../../../assets/square01.jpg" class="img-fluid" />-->
                <!--Google map-->
                <!--                            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">-->
                <!--                                <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"-->
                <!--                                        style="border:0" allowfullscreen></iframe>-->
                <!--                            </div>-->
  
                <!--Google Maps-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  