<!--Start Employee Section-->
<div class="employee py-5">
  <div class="container">
    <app-employee-detail [employee]="selectedEmployee"></app-employee-detail>
    <div class="row">
      <div class="col-10 our-team mx-auto">
        <div class="col-12">
            <h4 class="mb-3 mb-md-4">Our Team</h4>
        </div>
        <div class="col-12" *ngIf="employeesList?.length < (onResize() + 1)">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto" *ngFor="let employee of employeesList">
              <div class="team-member" [class.selected]="employee == selectedEmployee" (click)="onSelected(employee)">
                <i class="fas fa-external-link-alt fa-fw fa-sm"></i>
                <p>{{employee?.fullName}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf="employeesList?.length > onResize()">
          <div class="row">
            <mdb-carousel [isControls]="true" class="w-100 carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                          [animation]="'slide'">
              <mdb-carousel-item *ngFor="let employee of employees; let i = index">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto" *ngFor="let member of employee">
                  <div class="team-member" [class.selected]="member == selectedEmployee" (click)="onSelected(member)">
                    <i class="fas fa-external-link-alt fa-fw fa-sm"></i>
                    <p>{{member?.fullName}}</p>
                  </div>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
        </div>
      </div> <!--.our-team-->
    </div>
  </div>
</div>
<!--End Employee Section-->
