.component-circle-carousel-two {
  transform-origin: bottom;
  height: 630px;
  transform: rotate(0deg);
  position: relative;
  z-index: -1;
}
.component-circle-carousel-two .circle-container {
  position: relative;
  width: 900px;
  height: 500px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  margin: 5em auto 0;
  transform: rotate(270deg);
  z-index: -1;
}
.component-circle-carousel-two .circle-container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 7%;
  width: 162px;
  height: 162px;
  margin: -81px;
}
.component-circle-carousel-two .circle-container > *:nth-of-type(1) {
  transform: rotate(0deg) translate(450px) rotate(0deg);
}
.component-circle-carousel-two .circle-container > *:nth-of-type(2) {
  transform: rotate(36deg) translate(450px) rotate(-36deg);
}
.component-circle-carousel-two .circle-container > *:nth-of-type(3) {
  transform: rotate(72deg) translate(450px) rotate(-72deg);
}
.component-circle-carousel-two .circle-container > *:nth-of-type(4) {
  transform: rotate(108deg) translate(450px) rotate(-108deg);
}
.component-circle-carousel-two .circle-container > *:nth-of-type(5) {
  transform: rotate(144deg) translate(450px) rotate(-144deg);
}
.component-circle-carousel-two .circle-container > *:nth-of-type(6) {
  transform: rotate(180deg) translate(450px) rotate(-180deg);
}
.component-circle-carousel-two .circle-container > *:nth-of-type(7) {
  transform: rotate(216deg) translate(450px) rotate(-216deg);
}
.component-circle-carousel-two .circle-container > *:nth-of-type(8) {
  transform: rotate(252deg) translate(450px) rotate(-252deg);
}
.component-circle-carousel-two .circle-container > *:nth-of-type(9) {
  transform: rotate(288deg) translate(450px) rotate(-288deg);
}
.component-circle-carousel-two .circle-container > *:nth-of-type(10) {
  transform: rotate(324deg) translate(450px) rotate(-324deg);
}
.component-circle-carousel-two .circle-container img {
  display: block;
  width: 162px;
  border-radius: 50%;
  filter: grayscale(100%);
  border: solid 5px tomato;
  transition: 0.15s;
  transform: rotate(90deg);
}
.component-circle-carousel-two .circle-container img:hover,
.component-circle-carousel-two .circle-container img:active {
  filter: grayscale(0);
}
.component-circle-carousel-two .circle-container .active img {
  transform: rotate(90deg) scale(1.3);
}
