$black-blue: #fff;
$dark-background: #333;
$blue: #3399ff;

@mixin gradient-grey-background {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8f9fa+0,c8c8c8+100 */
  background: #f8f9fa; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f8f9fa 0%, #c8c8c8 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #f8f9fa 0%, #c8c8c8 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #f8f9fa 0%, #c8c8c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f9fa', endColorstr='#c8c8c8', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

@mixin progress-bar() {
  .progress-title{
    font-size: 16px;
    font-weight: 700;
    color: #011627;
    margin: 0 0 20px;
  }
  .progress{
    height: 5px;
    background: #cbcbcb;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
  }
  .progress.gery-color {
    background-color: #dddddd;
  }
  .progress .progress-bar{
    background: #dddddd;
    box-shadow: none;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
  }
  .progress .progress-bar:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $blue;
    position: absolute;
    top: -3px;
    right: 15px;
  }
  .progress .progress-value{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 10px;
    right: 0;
  }
  .progress.pink .progress-bar:after{
    border-bottom-color: $blue;
  }
  @-webkit-keyframes animate-positive{
    0% { width: 0; }
  }
  @keyframes animate-positive{
    0% { width: 0; }
  }
}
