@import "~src/variables";

.employee-detail {
  .employee-header-background {
    background-color: $blue;
    height: 30vh;
  }

  .employee-header-content {
    top: -20vh;
    .employee-image {
      background-color: #aaa;
    }
  }

  .employee-body-section {
    .program-expert {
      .program-expert-info {
        img {
          height: 50px;
          width: 50px;
        }
        .program-expert-name {
          font-weight: 500;
        }
      }
    }
    .language-experience-year {
      .experience-year {
        margin-top: 25%;
        @include progress-bar;
      }
    }
    .what-customer-say {
      .customer-say-image {
        img {
          height: 70px;
          width: 70px;
        }
        .customer-company-name {
          vertical-align: middle;
        }
      }
    }
    .customer-say-about {
      @include gradient-grey-background;
      min-height: 300px;
    }
  }
}

/*style for lg Screen*/
@media (min-width: 992px) and (max-width: 1199px) {
  .employee-info {
    p {
      font-size: 1.9rem;
    }
  }
}

/*style for md Screen*/
@media (min-width: 768px) and (max-width: 991px) {
  .employee-info {
    p {
      font-size: 1.4rem;
    }
  }
}

/*style for sm Screen*/
@media (min-width: 576px) and (max-width: 767px) {
  .employee-info {
    p {
      font-size: 1.1rem;
    }
  }
}

/*style for xs Screen*/
@media (max-width: 575px) {
  .employee-info {
    p {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

/*style for small than xs Screen*/
@media (max-width: 499px) {}
