<!--Start Employee Main Detail-->
<div class="employee-detail">
  <div class="" *ngIf="employeeDetails != null">
  <div class="employee-header-background"></div>
  <div class="employee-header-content position-relative">
    <div class="container">
      <div class="row">
        <div class="col-8 col-sm-3 mx-auto">
          <div class="employee-image rounded-circle p-2">
<!--            <img class="img-fluid rounded-circle" src="../../../../../assets/avatar.png" alt="" />-->
            <img class="img-fluid" src="{{employeeDetails.image}}"
                 (error)="employeeDetails.image = '../../../assets/avatar.png'" alt="Employee Image" />
          </div>
        </div>
        <div class="col-10 col-sm-9 align-self-center mx-auto mx-sm-0 pt-sm-1 pt-md-3 pt-lg-5">
          <div class="employee-info">
            <span class="d-sm-none text-center text-sm-left">
              <star-rating
                      value="5"
                      totalstars="5"
                      checkedcolor="dodgerblue"
                      uncheckedcolor="grey"
                      size="24px"
                      readonly="false" (rate)="onRate($event)"></star-rating>
            </span>
            <span class="d-none d-sm-inline-block text-center text-sm-left">
              <star-rating
                      value="5"
                      totalstars="5"
                      checkedcolor="white"
                      uncheckedcolor="grey"
                      size="24px"
                      readonly="false" (rate)="onRate($event)"></star-rating>
            </span>
            <p class="mb-1">{{employeeDetails.fullName}}</p>
            <p class="mb-1">{{employeeDetails.position}}</p>
            <p class="mb-1">{{employeeDetails.skills}}</p>
          </div>
        </div>
      </div>
    </div>
  </div><!--.employee-header-content-->
  <div class="employee-body-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-8">
          <div class="program-expert text-center text-md-left">
            <h3 class="mb-4">Programs expert in</h3>
            <div class="row border-right">
              <div class="col-12 col-md-6">
                <div class="program-expert-info">
                  <img src="../../../../../assets/square01.jpg" class="img-fluid rounded-circle" alt="" />
                  <div class="d-inline-block">
                    <span class="program-expert-name ml-3">Cherel Baker</span>
                    <br class="d-none d-sm-inline-block d-lg-none" />
                    <span class="program-expert-title ml-3 ml-lg-2">Roll Name Here</span>
                  </div>
                  <hr class="w-50 bg-muted" />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="program-expert-info">
                  <img src="http://dummyimage.com/152x194.bmp/dddddd/ffffff" class="img-fluid rounded-circle" alt="" />
                  <div class="d-inline-block">
                    <span class="program-expert-name ml-3">Cherel Baker</span>
                    <br class="d-none d-sm-inline-block d-lg-none" />
                    <span class="program-expert-title ml-3 ml-lg-2">Roll Name Here</span>
                  </div>
                  <hr class="w-50 bg-muted" />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="program-expert-info">
                  <img src="http://dummyimage.com/152x194.bmp/dddddd/ffffff" class="img-fluid rounded-circle" alt="" />
                  <div class="d-inline-block">
                    <span class="program-expert-name ml-3">Cherel Baker</span>
                    <br class="d-none d-sm-inline-block d-lg-none" />
                    <span class="program-expert-title  ml-3 ml-lg-2">Roll Name Here</span>
                  </div>
                  <hr class="w-50 bg-muted" />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="program-expert-info">
                  <img src="http://dummyimage.com/152x194.bmp/dddddd/ffffff" class="img-fluid rounded-circle" alt="" />
                  <div class="d-inline-block">
                    <span class="program-expert-name ml-3">Cherel Baker</span>
                    <br class="d-none d-sm-inline-block d-lg-none" />
                    <span class="program-expert-title  ml-3 ml-lg-2">Roll Name Here</span>
                  </div>
                  <hr class="w-50 bg-muted" />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="program-expert-info">
                  <img src="http://dummyimage.com/152x194.bmp/dddddd/ffffff" class="img-fluid rounded-circle" alt="" />
                  <div class="d-inline-block">
                    <span class="program-expert-name ml-3">Cherel Baker</span>
                    <br class="d-none d-sm-inline-block d-lg-none" />
                    <span class="program-expert-title  ml-3 ml-lg-2">Roll Name Here</span>
                  </div>
                  <hr class="w-50 bg-muted" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="language-experience-year">
            <h4 class="text-center text-lg-left mt-4 mt-sm-0 mb-4">Speaks in <span class="d-inline d-sm-block d-lg-inline">{{employeeDetails.language}}</span></h4>
            <div class="experience-year">
              <h3 class="text-center mb-4">Years of experience</h3>
              <div class="progress gery-color">
                <!--Every 10 years == 1 experience year -->
                <div class="progress-bar" style="width:70%;">
                  <div class="progress-value">{{employeeDetails.experiances}} Years</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="employee-detail-projects py-5">
            <h3 class="mb-5">Projects with yes soft company</h3>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="customer-say mb-2">
                  <div class="row">
                    <div class="col-2">
                      <i class="fas fa-check-circle fa-2x text-secondary"></i>
                    </div>
                    <div class="col-10">
                      <h6>clientName</h6>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci alias dolore eaque
                      </p>
                    </div>
                  </div>
                </div><!--.customer-say-->
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="customer-say">
                  <div class="row">
                    <div class="col-2">
                      <i class="fas fa-check-circle fa-2x text-secondary"></i>
                    </div>
                    <div class="col-10">
                      <h6>clientName</h6>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci alias dolore eaque
                      </p>
                    </div>
                  </div>
                </div><!--.customer-say-->
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="customer-say">
                  <div class="row">
                    <div class="col-2">
                      <i class="fas fa-check-circle fa-2x text-secondary"></i>
                    </div>
                    <div class="col-10">
                      <h6>clientName</h6>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci alias dolore eaque
                      </p>
                    </div>
                  </div>
                </div><!--.customer-say-->
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-auto">
                <div class="customer-say">
                  <div class="row">
                    <div class="col-2">
                      <i class="fas fa-check-circle fa-2x text-secondary"></i>
                    </div>
                    <div class="col-10">
                      <h6>clientName</h6>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci alias dolore eaque
                      </p>
                    </div>
                  </div>
                </div><!--.customer-say-->
              </div>
            </div>
          </div><!--.employee-detail-projects-->
        </div><!--.col-12-->
        <div class="col-12">
          <div class="employee-summary-section py-md-3 py-lg-5">
            <h3 class="mb-4 mb-lg-5">Portfolio & Summary</h3>
            <div class="summary-content">
              <h3 class="employee-word mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias dolore eaque</h3>
              <div class="col-12 col-md-10 mx-auto">
                <div class="row">
                  <div class="col-12 col-sm-5">
                    <p class="text-justify">
                      {{employeeDetails.details}}
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci culpa distinctio dolorem dolorum,
                      explicabo facere incidunt magnam maiores nihil nulla officiis placeat possimus quis repellat saepe,
                      sequi soluta voluptate.
                    </p>
                  </div>
                  <div class="col-12 col-sm-7">
                    <div class="row">
                      <div class="col-4">
                        <img src="../../../../../assets/square01.jpg" class="img-fluid" alt="" />
                      </div>
                      <div class="col-4">
                        <img src="../../../../../assets/square01.jpg" class="img-fluid" alt="" />
                      </div>
                      <div class="col-4">
                        <img src="../../../../../assets/square01.jpg" class="img-fluid" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--.summary-content-->
          </div><!--.employee-summary-section-->
        </div>
        <div class="col-12">
          <div class="what-customer-say py-5">
            <h3 class="mb-4 mb-lg-5">What customer says about "<span>Employee Name</span>"</h3>
            <div class="col-12 col-md-10 mx-auto">
              <div class="row">
                <div class="col-12 col-sm-6 mb-4 mb-sm-1">
                  <i class="fas fa-quote-left fa-sm-md fa-md-lg text-muted"></i>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta doloremque earum,
                    eius est excepturi fugit in laboriosam magnam nobis odit officia qui quidem saepe sint sit temporibus totam voluptatum!
                  </p>
                  <div class="customer-say-image">
                    <img src="../../../../../assets/square01.jpg" class="img-fluid rounded-circle" alt="" />
                    <div class="customer-company-name d-inline-block">
                      <h4 class="customer-say-name ml-3">Cherel Baker</h4>
                      <h4 class="company-name ml-2">Roll Name/position</h4>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 mb-4 mb-sm-1">
                  <i class="fas fa-quote-left fa-sm-md fa-md-lg text-muted"></i>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta doloremque earum,
                    eius est excepturi fugit in laboriosam magnam nobis odit officia qui quidem saepe sint sit temporibus totam voluptatum!
                  </p>
                  <div class="customer-say-image">
                    <img src="http://dummyimage.com/152x194.bmp/dddddd/ffffff" class="img-fluid rounded-circle" alt="" />
                    <div class="customer-company-name d-inline-block">
                      <h4 class="customer-say-name ml-3">Cherel Baker</h4>
                      <h4 class="company-name ml-2">Roll Name/position</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!--.what-customer-say-->
        </div>
      </div><!--.row-->
    </div><!--.container-->
    <div class="customer-say-about py-5">
      <div class="container">
        <h3 class="mb-3 mb-sm-5">What customer says about Yes Go</h3>
        <div class="row">
          <div class="col-12 col-sm-4 align-self-center text-center text-sm-left mb-5 mb-sm-0">
            <h3>Yea Go Logo</h3>
            <star-rating
                    value="5"
                    totalstars="5"
                    checkedcolor="dodgerblue"
                    uncheckedcolor="white"
                    size="24px"
                    readonly="false" (rate)="onRate($event)"></star-rating>
<!--            <img src="" class="img-fluid" alt="" />-->
          </div>
          <div class="col-12 col-sm-8 what-customer-say">
            <div class="customer-say-about-slider">
              <div class="col-12">
                <div class="customer-say-image mb-4">
                  <img src="../../../../../assets/square01.jpg" class="img-fluid rounded-circle" alt="" />
                  <div class="customer-company-name d-inline-block">
                    <h4 class="customer-say-name ml-3">Cherel Baker</h4>
                    <h4 class="company-name ml-2">Roll Name/position</h4>
                  </div>
                </div>
                <i class="fas fa-quote-left fa-sm-md fa-md-lg text-muted pl-3"></i>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta doloremque earum,
                  eius est excepturi fugit in laboriosam magnam nobis odit officia qui quidem saepe sint sit temporibus totam voluptatum!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--.employee-body-section-->
  </div>
  <div class="" *ngIf="employeeDetails == null" style="height: 50vh; width: 100%; background: #f8f9fa">
    <!--  <h3 class="text-center text-primary">Loading Stats!</h3>-->
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
</div>
<!--End Employee Main Detail-->
