@import "~src/variables";

.employee-detail {
  .employee-header-background {
    background-color: $blue;
    height: 30vh;
  }

  .employee-header-content {
    top: -20vh;
    .employee-image {
      background-color: #aaa;
    }
  }

  .employee-body-section {
    p { text-align: justify; }
    .program-expert {
      .program-expert-info {
        img {
          height: 50px;
          width: 50px;
        }
        & > div {
          vertical-align: middle;
        }
        .program-expert-name {
          font-weight: 500;
        }
      }
    }
    .language-experience-year {
      .experience-year {
        margin-top: 25%;
        @include progress-bar;
      }
    }
    .what-customer-say {
      .customer-say-image {
        img {
          height: 70px;
          width: 70px;
        }
        .customer-company-name {
          vertical-align: middle;
        }
      }
    }
    .customer-say-about {
      @include gradient-grey-background;
      min-height: 300px;
    }
  }
}

/*style for md Screen*/
@media (min-width: 768px) and (max-width: 991px) {
  .employee-detail {
    .employee-header-content {
      top: -12vh;
    }
    .employee-body-section {
      .what-customer-say {
        .customer-say-image {
          img {
            height: 60px;
            width: 60px;
          }
          .customer-company-name {
            h4 {
              font-size: 1.2rem;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

/*style for sm Screen*/
@media (min-width: 576px) and (max-width: 767px) {
  h3 {
    font-size: 1.5rem;}
  .employee-detail {
    .employee-header-content {
      top: -9vh;
    }
    .employee-body-section {
      .what-customer-say {
        .customer-say-image {
          img {
            height: 50px;
            width: 50px;
          }
          .customer-company-name {
            h4 {
              font-size: 1rem;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

/*style for xs Screen*/
@media (max-width: 575px) {
  h3 {
    font-size: 1.3rem;}
  .employee-detail {
    .employee-header-content {
      top: -13vh;
    }
    .employee-body-section {
      .language-experience-year {
        .experience-year {
          margin-top: 10%;
        }
      }
      .what-customer-say {
        .customer-say-image {
          img {
            height: 50px;
            width: 50px;
          }
          .customer-company-name {
            h4 {
              font-size: 1rem;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
