@import "~src/variables";


.employee-details-section {
  background: url('../../../../../assets/Employee-details-background.png') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  .employee-details-content {
    position: relative;
    top: 50px;
    color: #fff;
    height: 2100px;
    .language-experience-year {
      .experience-year {
        @include progress-bar;
      }
      p {
        i { color: $red }
      }
    }
    .employee-details-image {
      width: 50%;
    }
    .employee-skills-rate-section {
      p {
       font-weight: 600;
       font-size: 1.2rem 
      }
    }
    .employee-skills {
      .employee-skills-info {
        img {
          height: 50px;
          width: 50px;
        }
        & > div {
          vertical-align: middle;
        }
        .employee-skills-name {
          font-weight: 500;
        }
      }
    }
    .employee-detail-projects {
      .customer-say {
        min-height: 100px;
        h6 a {
          text-decoration: none;
          &:hover {
            color: #aaa;
          }
        }
      }
    }
    .what-customer-say {
      .customer-say-image {
        img {
          height: 70px;
          width: 70px;
        }
        .customer-company-name {
          vertical-align: middle;
        }
      }
    }
  }
}
















.employee-details-sections {
  .employee-details-contents {
    background-color: #03142f5c;
    p { text-align: justify; }
    .program-expert {
      .program-expert-info {
        img {
          height: 50px;
          width: 50px;
        }
        & > div {
          vertical-align: middle;
        }
        .program-expert-name {
          font-weight: 500;
        }
      }
    }
    .language-experience-year {
      .experience-year {
        margin-top: 25%;
        @include progress-bar;
      }
    }
    .employee-detail-projects {
      .customer-say {
        min-height: 100px;
        h6 a {
          text-decoration: none;
          &:hover {
            color: #aaa;
          }
        }
      }
    }
    .what-customer-say {
      .customer-say-image {
        img {
          height: 70px;
          width: 70px;
        }
        .customer-company-name {
          vertical-align: middle;
        }
      }
    }
    .customer-say-about {
      @include gradient-grey-background;
      min-height: 300px;
    }
  }
}

/*style for md Screen*/
@media (min-width: 768px) and (max-width: 991px) {
  .employee-detail {
    .employee-header-content {
      top: -12vh;
    }
    .employee-body-section {
      .what-customer-say {
        .customer-say-image {
          img {
            height: 60px;
            width: 60px;
          }
          .customer-company-name {
            h4 {
              font-size: 1.2rem;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

/*style for sm Screen*/
@media (min-width: 576px) and (max-width: 767px) {
  h3 {
    font-size: 1.5rem;}
  .employee-detail {
    .employee-header-content {
      top: -9vh;
    }
    .employee-body-section {
      .what-customer-say {
        .customer-say-image {
          img {
            height: 50px;
            width: 50px;
          }
          .customer-company-name {
            h4 {
              font-size: 1rem;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

/*style for xs Screen*/
@media (max-width: 575px) {
  h3 {
    font-size: 1.3rem;}
  .employee-detail {
    .employee-header-content {
      top: -13vh;
      .employee-image {
        background-color: transparent;
        img {
          padding: 10px;
          background-color: #aaa;
        }
      }
    }
    .employee-body-section {
      .language-experience-year {
        .experience-year {
          margin-top: 10%;
        }
      }
      .what-customer-say {
        .customer-say-image {
          img {
            height: 50px;
            width: 50px;
          }
          .customer-company-name {
            h4 {
              font-size: 1rem;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
