<!--Start Search Section-->
<div class="search-section py-4">
  <div class="container">
    <div class="col-12  col-md-8 col-lg-7 col-xl-6 mx-auto text-center">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="Type Here To Search">
        <div class="input-group-append">
          <span class="input-group-text">Search</span>
        </div>
      </div>
      <button class="btn">Programming</button>
      <button class="btn">Design</button>
      <button class="btn">Emarketing</button>
    </div>
<!--    <div class="col-12"></div>-->
  </div>
</div>
<!--End Search Section-->
