.search-section {
  input {
    background-color: transparent;
    border: none;
    background-image: url('../../../../../assets/search-input.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 72px;
    padding: 0 2rem;
  }
  button.btn {
    background: url('../../../../../assets/search-button.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 30%;
    height: 83px;
    font-size: 125%;
    font-weight: 500;
  }
}

.search-result {
  //width: 100%;
  background-color: #f8f9fa;
  .card-img-top {
    height: 40vh;
  }
}

/*style for xs Screen*/
  @media (max-width: 575px) {
    .search-section {
      button.btn {
        padding: .4rem .9rem;
        font-size: .7rem;
      }
    }
  }
